/*

Template 2081 Solution

http://www.tooplate.com/view/2081-solution

*/

body
{
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

h1, h2, h3, h4
{
    display: inline;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-bottom: 30%;
    top: 0; bottom: 0; right: 0; left: 0;
}

p
{
    display: inline-block;
    line-height: 35px;
    padding-top: 5%;
}

/* start all section */
#home, #about, #skills, #frameworks, #projects, #newsletter,
#contact, #client, #contact, #divider
{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 3%;
    padding-bottom: 0%;
    position: relative;
    border: transparent;
}
/* end all section */

/* start nagivation */
.navbar-default
{
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
    padding: 0;
}
.navbar-default .navbar-brand
{
    padding-top: 4px;
    padding-bottom: 60px;
}
.navbar-default .navbar-nav li a
{
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;
}
.navbar-default .navbar-nav li a:hover
{
    color: #93ca3a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #93ca3a;
    background-color: transparent;
}
.navbar-default .navbar-toggle
{
    border: none;
    padding-top: 16px;
}
.navbar-default .navbar-toggle .icon-bar
{
    background: #93ca3a;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */
#home
{
    padding-top: 65px;
}

.flexslider {
    margin: 0 0 60px;
    background: #fff;
    padding: 0;
    position: relative;
    zoom: 1;
    background-color: #371604;
    overflow: hidden;
    margin: 0;
}
.flexslider .slides {
    padding: 0;
    zoom: 1;
}
.flexslider .slides img {
    width: 100%;
    min-width: 648px;
    min-height: 270px;
    display: block;
}
.flexslider .slides > li {
    display: none;
    padding: 0;
    position: relative;
    -webkit-backface-visibility: hidden;
}
.flexslider img {
    position: relative;
    width: 100%;
}
.slider-caption {
    color:white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flexslider .btn
{
    background: #93ca3a;
    border-radius: 0;
    border: 2px solid transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin: 40px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 250px;
    padding: 12px 10px 10px 10px;
}
.flexslider .btn:hover,
.flexslider .btn:focus {
    background: #fff;
    color: #93ca3a;
    border: 2px solid transparent;
}

/* end home */

/* start about */
#about
{
    padding-top: 5%;
}
#about p
{
    padding-top: 1%;
    display: inline-block;
    line-height: 35px;
}
#about img
{
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: auto;
}
/* end about */

/* start skills */
#skills
{

}
#skills .progress
{
    border-radius: 20px;
    background: #ffffff;
    height: 20px;
}
#skills .progress .progress-bar-danger
{
    background: #93ca3a;
}
#skills .text-top
{
    padding-top: 15%;
}
#skills span
{
    font-weight: bold;
    display: block;
    padding-bottom: 3%;
}
#skills small
{
    font-weight: normal;
    padding-left: 5%;
}
/* end skills */

/* start frameworks */
#frameworks
{
    display: table;
    position: relative;
    padding-top: 0%;
    padding-bottom: 0%;
}
#frameworks a
{
    text-decoration: none;
}
#frameworks img
{
    padding-left: 2%;
    padding-right: 2%;
    width: 22%;
    height: auto;

    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
#frameworks img:hover
{
    margin-bottom: 3%;
}
/* end frameworks */

/* start projects */
#projects
{
    padding-top: 5%;
    text-align: left;
}
#projects h1
{
    padding-bottom: 20%;
}
#projects a
{
    text-decoration: none;
}
#projects img
{
    position: relative;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

    padding-bottom: 10%;
    border-radius: 75%;

    padding: 1%;
    display: inline-block;
    transition: all 0.4s ease-in;
}
#projects img:hover
{
    opacity: 0.4;
    cursor: pointer;
}
#projects h3
{
    font-size: 14px;
    padding-top: 20px;
    line-height: 0px;
}
/* end projects */

/* start contact */
#contact
{
    padding-top: 4%;
    padding-bottom: 4%;
}
#contact h2
{
    padding-top: 10%;
    padding-bottom: 10%;
}
#contact .contact-thumb
{
    overflow: hidden;
    margin: 0;
    position: relative;
}
#contact .contact-thumb .contact-overlay
{
    background: #333;
    color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 60px 60px 0px 60px;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
#contact .contact-thumb:hover .contact-overlay
{
    opacity: 0.9;
    transform: scale(1.1);
}
#contact .contact-thumb .contact-overlay .fa
{
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 10px;
}
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: left;
    padding-top: 2%;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    width: 30%;
    height: auto;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end contact */

/* start contact */
#contact
{
    background: url('../images/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}
#contact h3
{
    font-weight: bold;
    padding-bottom: 20px;
}
#contact .fa
{
    color: #93ca3a;
    font-size: 18px;
    padding-bottom: 14px;
}
#contact .form-control
{
    background: #f2f2f2;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}
#contact input
{
    height: 50px;
}
#contact input[type="submit"]
{
    color: #202020;
    font-weight: bold;
    margin-bottom: 80px;
}
#contact input[type="submit"]:hover
{
    background: #93ca3a;
}
#contact .form-control::-moz-placeholder {
    color: #666;
    opacity: 1;
}
#contact .form-control:-ms-input-placeholder {
    color: #666;
}
#contact .form-control::-webkit-input-placeholder {
    color: #666;
}
/* end contact */

/* start footer */
footer
{
    padding-top: 1%;
    padding-bottom: 1%;
}
footer p
{
    padding-top: 0%;
    padding-bottom: 0%;
    line-height: 12px;
}
footer .social-icon
{
    top: 0px;
}
/* end footer */

.too-icon {
    padding: 10px;
}

/* start social icon */
.social-icon
{
    position: relative;
    padding: 0;
    margin: 0;
    top: 20px;
}
.social-icon li
{
    display: inline-block;
    list-style: none;
    padding-right: 10%;
}
.social-icon li a
{
    color: #333;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}
.social-icon li a:hover
{
    background: #f2f2f2;
    width: 100%;
    height: 100%;
}
/* end social icon */

@media only screen and (max-width: 1199px) {
    .flexslider h1 { font-size: 30px; }
    .flexslider h2 { font-size: 24px; }
}

/* start templatemo 768 media quires */
@media only screen and ( max-width: 768px ) {
    .navbar-default .navbar-brand { margin-left: 20px; }
    .navbar-default .navbar-nav { margin: 0; }
    .navbar-default .navbar-collapse
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .flexslider h1 { font-size: 26px; }
    .flexslider h2 { font-size: 18px; }
    .templatemo-slider-btn {
        margin-top: 10px;
        width: 180px;
        height: 40px;
        padding-top: 8px;
    }
}
/* end templatemo 768 media quires */

/* start templatemo 600 media quires */
@media only screen and ( max-width: 640px ) {
    .flexslider h1 { font-size: 20px; }
    .flexslider h2 { font-size: 14px; }
    .templatemo-slider-btn {
        width: auto;
        height: auto;
        padding: 10px 20px;
        margin-top: 10px;
    }
}
/* end templatemo 600 media quires */

/* start templatemo 360 media quires */
@media only screen and ( max-width: 360px ) {
    #projects .col-md-4
    {
        padding-top: 20%px;
    }

}
/* end templatemo 360 media quires */
